
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    font-size: 1em;
    font-family: sans-serif;
}

#contenedor{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}


header{
    color: rgb(255, 255, 255);
    background-color: black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: center;

    padding: 15px; 
    position: sticky; 

    top: 0; 
    font-family: sans-serif; 
    text-decoration: none;
    z-index: 2;
}
    .cabeza {
        width: 30%;

        font-size: 30px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .barratop{
        width: 70%;
        list-style: none; 
        font-size: 30px; 
        color: white;

        display: flex;
        justify-content: right;
        align-items: center;
    }
    .barratop a{
        text-decoration: none;
    }
    header a{
        text-decoration: none;
    }
    header a:hover{
        color: #ffffff;
    }


#primero{
    width: 100%;
    margin: auto;
    height: 400px;

    background-image: url(../img/rayovioleta.jpg);

    font-size: 45px;
    color:white;

    display: flex;
    justify-content: space-around;
    align-content: center;
}
    .ppri{
        padding-top: 80px;
        width: 20%;
    }
    .ppri .txt{
        line-height : 55px;
    }
    .ppri .txt h1{
        margin-bottom: 55px;
    }
    .pseg{
        width: 60%;
        justify-content: flex-end; 
    }

.img1{
    transform: scale(1.3) translateX(200px);
    z-index: 2;
    position: absolute;
}

.separador{
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#segundo{
    width: 100%;
    margin: auto;
    height: 650px;
    padding-top: 150px;
    padding-bottom: 150px;

    font-size: 45px;
    color:white;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
    .spri{
        width: 80%;
        margin-bottom: 35px;   
        list-style:none;
        line-height : 36px;

        display: flex;
        align-content: center;
        
    }
    .sseg{
        width: 40%;
        font-size: 20px;
        justify-content: flex-end; 
        list-style:none;

        display: flex;
        justify-content: center;
    }
    .sseg img{
        width: 100%;
    }
    .ster{
        width: 40%;
        font-size: 20px;
        justify-content: flex-end; 
    }


 ul{
    margin-bottom: 25px;
 }

#img2{
    transform: scale(0.8);
    z-index: 1;
    position: absolute;
}


#tercero{
    width: 100%;
    margin: auto;
    height: 400px;
    padding-top: 40px;
    padding-bottom: 50px;

    font-size: 45px;
    color:white;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    }
    .tpri{
        padding-top: 45px;
        font-size: 20px;
        border-radius: 15px;
        width: 35%;
        line-height : 25px;
        display: flex;
        justify-content: center;
        margin-left: 15px;
    }
    .tpri .txt{
        line-height : 35px;
    }
    .tseg{
        align-items: center;
        width: 60%;
        display: flex;
        justify-content: center;
    }
    .tpri .txt h1{
        padding-bottom: 20px;
        color: crimson;
        font-size: 25px;;
    }


#cuarto{
    background-image: url(../img/rayoamarillo.png);
    width: 100%;
    margin: auto;
    height: 250px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
}
    .cpri{
        width: 40%;
        padding-top: 25px;
        line-height : 75px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cpri .txt{
        color: white;
        font-size: 35px;
    }
    .cseg{
        color: white;
        font-size: 25px;
        width: 35%;

        display: flex;
        justify-content: center;
        align-items: center;
    }


#quinto{
        color: white;  
        width: 100%;
        margin: auto;
        height: 650px;
        padding-top: 25px;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
}
    .qpri{
        width: 35%;

        display: flex;
        justify-content: center;
        align-content: center;
    }
    .qseg{
        width: 65%;
        font-size: 20px;
        line-height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .qseg .txt h2{
        margin-bottom: 25px;;
    }
    .qter{
        width: 80%;
        font-size: 20px;
        line-height: 30px;
        padding-top: 60px;

        display: flex;
        justify-content: center;
        text-align: center;
    }


#rexto{
    color: white;  
    width: 100%;
    margin: auto;
    height: 450px;
    padding-top: 200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
    .rpri{
        font-size: 45px;
        width: 70%;
        height: 100px;
        text-align: center;
        

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rseg{
        width: 70%;
        height: 100px;
        font-size: 25px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rter{
        width: 70%;
        height: 100px;
        padding: 100px;
        padding-bottom: 250px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

footer{
    background-color: rgb(89, 29, 144);
    height: 200px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajustes Tablets */

@media screen and (min-width: 0px) and (max-width: 960px) {

    #contenedor{
        width: 100%;
        max-width: 960px;
    }

    header{
        display: none;
    }


    #primero{
        flex-wrap: wrap;
    }

    .img1{
        transform: scale(0.9) translateX(200px);
    }

    #segundo{
        flex-wrap: wrap;
        margin-top: 200px;
    }

    .sseg{
        width: 80%;
        justify-content: flex-end; 
        list-style:none;

        display: flex;
        justify-content: center;
    }

    .spri{
        width: 80%;
        margin-bottom: 35px;   
        display: flex;
        align-content: center;
        
    }

    .ster{
        width: 80%;
        text-align: center;

        justify-content: flex-end; 
        justify-content: center;
    }

    #tercero{
        margin-top: 200px;
        flex-wrap: wrap;
    }

    .tpri{
        padding-top: 45px;
        font-size: 15px;
        border-radius: 15px;
        width: 80%;
        line-height : 25px;
        display: flex;
        justify-content: center;
    }

    #cuarto{
        margin-top: 200px;
        flex-wrap: wrap;
        height: 200px;
    }

    .cpri{
        width: 80%;
        padding-top: 25px;
        line-height : 75px;
        text-align: center;


        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cseg{
        width: 80%;
        margin-top: 50px;;
        display: flex;
        text-align: center;

        justify-content: center;
        align-items: center;
    }

    #quinto{
        display: flex;
        flex-wrap: wrap;
        margin-top: 250px;
        justify-content: space-around;
        align-content: center;
    }

    .qpri{
    width: 80%;
    margin-top: 90px;        
    margin-bottom: 55px;

    display: flex;
    justify-content: center;
    align-content: center;
    }

    .separador{
        display: none;
    }

    #rexto{
        margin-top: 450px;
    }

}

/* Ajustes celulares*/

@media screen and (min-width: 0px) and (max-width: 559px) {

    #contenedor{
        width: 100%;
        max-width: 559px;
    }

    header{
        display: none;
    }


    #primero{
        flex-wrap: wrap;
    }
    .ppri{
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img1{
        transform: scale(0.9);
        display: none;
    }

    #segundo{
        flex-wrap: wrap;
        margin-top: 200px;
    }

    .sseg{
        width: 80%;
        font-size: 15px;
        justify-content: flex-end; 
        list-style:none;

        display: flex;
        justify-content: center;
    }

    #tercero{
        margin-top: 200px;
        flex-wrap: wrap;
    }

    .tpri{
        padding-top: 45px;
        font-size: 15px;
        border-radius: 15px;
        width: 80%;
        line-height : 25px;
        display: flex;
        justify-content: center;
    }

    .tseg{
        width: 70%;
    }

    #cuarto{
        flex-wrap: wrap;
        height: 600px;
        font-size: 15px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cpri{
        width: 80%;
        padding-top: 25px;
        line-height : 75px;


        display: flex;
        justify-content: center;
        align-items: center;
    }

    #quinto{
        display: flex;
        flex-wrap: wrap;
        margin-top: 240px;
        justify-content: space-around;
        align-content: center;
    }

    .qpri{
    width: 80%;  
    margin-bottom: 55px;

    display: flex;
    justify-content: center;
    align-content: center;
    }

    .separador{
        display: none;
    }

    #rexto{
        margin-top: 450px;
    }


}